certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
narwhals==1.35.0
numpy==2.2.4
packaging==24.2
pandas==2.2.3
plotly==6.0.1
pluggy==1.5.0
Pygments==2.19.2
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
redis==6.2.0
requests==2.32.4
rich==14.0.0
scipy==1.16.0
six==1.17.0
spotipy==2.25.1
tzdata==2025.2
urllib3==2.5.0
