params {
    run_speccheck = false
    local_sif_dir = "${launchDir}/.demo_work/ghru_images"
}

apptainer {
    enabled = true
    runOptions = "--bind /well --bind /gpfs3 --bind ${launchDir} --no-home"
    cacheDir = "${launchDir}/.demo_work/apptainer/cache"
}

process {
    executor = "slurm"
    queue = "short"
    clusterOptions = "-A aanensen.prj"
    penv = "shmem"
    cpus = 1
    memory = "2G"
    errorStrategy = { task.attempt <= 3 ? "retry" : "finish" }
    maxRetries = 3
    container = "${params.local_sif_dir}/bash_ghru.sif"

    withLabel: bash_container {
        container = "${params.local_sif_dir}/bash_ghru.sif"
    }
    withLabel: python_container {
        container = "${params.local_sif_dir}/python.sif"
    }
    withLabel: lrge_container {
        container = "${params.local_sif_dir}/lrge_0.1.3--h9f13da3_1.sif"
    }
    withLabel: trimmomatic_container {
        container = "${params.local_sif_dir}/trimmomatic_0.36--3.sif"
    }
    withLabel: fastqc_container {
        container = "${params.local_sif_dir}/fastqc_0.12.1--hdfd78af_0.sif"
    }
    withLabel: shovill_container {
        container = "${params.local_sif_dir}/shovill_1.1.0-2022Dec.sif"
    }
    withLabel: quast_container {
        container = "${params.local_sif_dir}/quast_5.2.0--py312pl5321hc60241a_4.sif"
    }
    withLabel: dragonflye_container {
        container = "${params.local_sif_dir}/cgps_dragonflye_medaka.sif"
    }
    withLabel: nanoplot_container {
        container = "${params.local_sif_dir}/nanoplot_1.42.0--pyhdfd78af_0.sif"
    }
    withLabel: porechop_container {
        container = "${params.local_sif_dir}/porechop_0.2.4--py310h84f13bb_8.sif"
    }
    withLabel: unicycler_container {
        container = "${params.local_sif_dir}/unicycler_0.5.0--py39heaaa4ec_5.sif"
    }
    withLabel: checkm_container {
        container = "${params.local_sif_dir}/checkm2_0.1.0.sif"
        cpus = 4
        memory = "16G"
    }
    withLabel: speciation_container {
        container = "${params.local_sif_dir}/speciator_4.0.0.sif"
        cpus = 2
        memory = "8G"
    }
    withLabel: sylph_container {
        container = "${params.local_sif_dir}/sylph_0.1.0.sif"
        cpus = 2
        memory = "8G"
    }
    withLabel: ariba_container {
        container = "${params.local_sif_dir}/ariba_contam_0.1.1.sif"
        cpus = 2
        memory = "8G"
    }
    withLabel: speccheck_container {
        container = "${params.local_sif_dir}/speccheck_0.2.1.sif"
    }
}

tower {
    enabled = false
}
